# Dependências
node_modules/

# Build
dist/
build/

# Cobertura de testes
coverage/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Variáveis de ambiente
.env
.env.*

# Cache
.eslintcache
*.tsbuildinfo
.cache/

# Sistema Operacional
.DS_Store
Thumbs.db

# VS Code para testes de extensões
.vscode-test/


# Independências futuras